<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <img src="/img/logo-mercado-liebre.svg" alt="">
        
        <h3>Lugar para poner barra de busqueda</h3>
        <h3>Comprá en cuotas y sin tarjeta  de crédito</h3>
        <section>
            <nav>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas  Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
                
            </nav>
        </section>
        <p>

        </p>
        <section>
            <nav>
                <li><a href="">Creá tu cuenta</a></li>
                <li><a href="">Ingresa</a></li>
                <li><a href="">Mis compras</a></li>
                
            </nav>
        </section>
    </header>
    <main>
        <section>
            <ul>
                <li><b>sección:  Basado en tu última visita</b></li>
            </ul>
            <article>
                <img src="/img/img-cafetera-moulinex.jpg" width="60%" alt="">
                <p>$6.770<br>40% OFF<br><b>Cafetera Moulinex</b></p>
            </article>
            <article>
                <img src="/img/img-macbook-pro-2019.jpg" width="60%" alt="">
                <p>$230.000<br>20% off<br><b>MacBook Pro 2019</b></p>
            </article>
            <article>
                <img src="/img/img-samsung-galaxy-s10.jpg" width="60%" alt="">
                <p>$70.500<br>10% of<br><b>Samsung Galaxy S10</b></p>
            </article>
            <article>
                <img src="/img/img-tv-samsung-smart.jpg" width="60%" alt="">
                <p>$23.200<br>5% off<br><b>SmartTv Samsung 43"</b></p>
            </article>
        </section>
        <section>
            <ul>
                <li><b>Sección de Ofertas</b></li>
            </ul>
            <article>
                <img src="/img/img-cafetera-moulinex.jpg" width="60%" alt="">
                <p>$6.770<br>40% OFF<br><b>Cafetera Moulinex</b></p>
            </article>
            <article>
                <img src="/img/img-macbook-pro-2019.jpg" width="60%" alt="">
                <p>$230.000<br>20% off<br><b>MacBook Pro 2019</b></p>
            </article>
            <article>
                <img src="/img/img-samsung-galaxy-s10.jpg" width="60%" alt="">
                <p>$70.500<br>10% of<br><b>Samsung Galaxy S10</b></p>
            </article>
            <article>
                <img src="/img/img-tv-samsung-smart.jpg" width="60%" alt="">
                <p>$23.200<br>5% off<br><b>SmartTv Samsung 43"</b></p>
            </article>
        </section>
    </main>
    <footer>
        <section>
            <ul>
                <li><b>Pagá con tarjeta o en efectivo</b></li>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </ul>
        </section>
        <section>
            <ul>
                <li><b>Envío gratis desde $ 2.500
                </b></li>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </ul>
        </section>
        <section>
            <ul>
                <li><b>Seguridad, de principio a fin</b></li>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.
                    </p>
            </ul>
        </section>
        <section>
            <ul>
                <li><b>Copyright © 1999-2020 MercadoLiebre S.R.L.</b></li>
            </ul>
        </section>
    </footer>
</body>
</html>