/* header */
.home{
    background-color: var(--colorGrisclaro);
}

.home header{
    background-color: var(--colorAmarillo);
    padding-bottom: 20px;
}
.buscador{
    margin-left: 20px;
}
.lupa{
    width: 20;
    padding: 5px;
    font-size: 15px;
    background-color: white;
    border-radius: 5px;
    
    display: flex;
}
a{
    text-decoration: none;
    color: black;
}
li{
    list-style: none;
}
.subti{
    font-size: 14px;
    text-align: center;
}
h2.titulares {
    font-family: 'robot';
    font-size: 24px;
}
.burger-menu button {
   /*  text-align: center; */
  
    width: 50px;
    padding: 5px;
    font-size: 32px;
    background-color: var(--colorCeleste);
    color: white;
    border: none; 
    border-radius: 5px;
    margin: 0px auto 30px;
    display: block;
    margin-bottom: 1px;
}

.fa-id-card, .fa-right-to-bracket, .fa-basket-shopping{
margin-left: 5px;
}

/* main */
main{
    
}
section article p.precio{
    font-size: 18px;
}
section article p.desc, section article p.nombre{
    font-size: 16px;
}

/* footer */
footer{
    background-color: white;
}
.button-pie {
    width: 40px;
    padding: 0px;
    padding-top: 40px;
    font-size: 2em;
    margin: 10px;
    background-color: white;
    border: none;
    color : var(--colorCeleste);
}
.pie{
    text-align: center;
}